@import "mixinsAndVariables";

.aboutMe {
  .textBold48{
    margin-bottom: 20px;
    text-align: left;
  }
  .content {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 60px;
    align-items: center;

    .text18{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .portrait{
      width: 100%;
      height: auto;
    }
    .portraitMob{
      display: none;
    }
    .socialMedia{
      margin-top: 20px;
      display: flex;
      gap: 10px;
      div{
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    .content{
      grid-template-columns: 1fr;
      grid-gap: 20px;
      .portrait{
        display: none;
      }
      .portraitMob{
        display: block;
        order: 1;
        height: auto;
        width: 100%;
      }
      .text{
        order: 2;
      }
    }

  }
}