@import "mixinsAndVariables";

.aboutMe {
  .textBold48{
    margin-bottom: 20px;
    text-align: left;
  }
  .content {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 60px;

    .text18{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .portrait{
      width: 100%;
      height: auto;
    }
    .socialMedia{
      margin-top: 20px;
      display: flex;
      gap: 10px;
      div{
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-width: 1220px) {
    .content{
      .text18{
        //font-size: 16px;
      }
    }

  }
}