@import "mixinsAndVariables";

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  @media screen and (max-width: 1280px) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media screen and (max-width: 1000px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.main {
  min-height: 55vh;
  flex: 1;
}
.wrapper{
  @include adaptive-value(padding-top, 60, 30, 1);
  @include adaptive-value(padding-bottom, 60, 30, 1);
}

.title {
  color: $primary-text;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  height: auto;
  @include adaptive-value(font-size, 48, 32, 1);
}

.textBold48 {
  color: $primary-text;
  @include adaptive-value(font-size, 48, 32, 1);
  @include adaptive-value(margin-bottom, 60, 30, 1);
  font-weight: 700;
  height: auto;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
}

.textBold24 {
  color: $primary-text;
  @include adaptive-value(font-size, 24, 16, 1);
  font-weight: 700;
  height: auto;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 20px;
}
.text24 {
  color: $primary-text;
  @include adaptive-value(font-size, 24, 14, 1);
  font-weight: 500;
  height: auto;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.textBold28 {
  color: $primary-text;
  @include adaptive-value(font-size, 28, 18, 1);
  font-weight: 700;
  height: auto;
  line-height: 1.2;
  letter-spacing: 0;
}

.text18 {
  @include adaptive-value(font-size, 18, 14, 1);
  color: $secondary-text;
  font-weight: 400;
  line-height: 1.6;
  height: auto;
}

.textLight18{
  color: $primary-text;
  @include adaptive-value(font-size, 18, 14, 1);
  font-weight: 300;
  height: auto;
  line-height: 1.4;
}

.text16{
  color: $secondary-text;
  font-size: 16px;
  @include adaptive-value(font-size, 16, 13, 1);
  letter-spacing: 0;
  line-height: 1.6;
}

.text15{
  font-size: 15px;
  @include adaptive-value(font-size, 15, 14, 1);
  color: $secondary-text;
  font-weight: 600;
  height: auto;
  line-height: 1.4;
}
.text13{
  font-size: 13px;
  font-weight: 300;
  height: auto;
  line-height: 1.4;
}

.primaryBtn{
  width: 193px;
  height: 41px;
  border: none;
  outline: none;
  background-color: $primary-text;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  @include adaptive-value(width, 193, 150, 1);
  @include adaptive-value(font-size, 15, 13, 1);
}
.secondaryBtn{
  width: 193px;
  height: 41px;
  border: 2px solid $primary-text;
  outline: none;
  color: $primary-text;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4;
  border-radius: 8px;
  @include adaptive-value(width, 193, 150, 1);
  @include adaptive-value(font-size, 15, 13, 1);
}


//////////Reset browser styles///////////
html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-display: swap;
}

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
  outline: none;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e1e5e8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b7c8a;
}