@import "mixinsAndVariables";

.bgWrapper {
  width: 100%;
  height: 100%;
  background-color: $light-gray;
}

.typesOfConsultation {
  .text18 {
    text-align: center;
  }

  .card {
    width: 100%;
    max-width: 1000px;
    min-height: 381px;
    position: relative;
    margin: auto;
    background-color: rgb(255 255 255 / 31%);
    box-shadow: -3px 2px 15px -3px rgba(0,0,0,0.1);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    z-index: 10;
    color: whitesmoke;

    .priceTitle{
      position: absolute;
      bottom: 20px;
      right: 30px;
      margin-bottom: 0;
    }

    .content {
      z-index: 2;
      padding: 40px 30px;

      .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .price {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

        }

        .hint{
          width: 240px;
          height: 30px;
          background-color: $orange;
          color: #fff;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: lowercase;
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }

      .body {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 2fr 1fr;
      }

      .description{
        position: relative;
        .quoteIcon{
          position: absolute;
          top: -31px;
          left: -38px;
          z-index: -1;
        }
      }



      ul {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding-left: 10px;

        li {
          display: grid;
          grid-template-columns: 0.1fr 11fr;
          grid-gap: 10px;

          &::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-top: 9px;
            -moz-border-radius: 7.5px;
            -webkit-border-radius: 7.5px;
            border-radius: 7.5px;
            background-color: #f4c361;
          }
        }
      }

      .textBold48 {
        margin-bottom: 0;
      }
    }

  }
}

.swiper-button-next, .swiper-button-prev {
  color: $gray !important;

  &:after {
    font-size: 20px !important;
  }
}

.swiper-pagination-bullet {
  background-color: $gray !important;
}

.swiper-pagination-bullet-active {
  background-color: $orange !important;
}
