@import "mixinsAndVariables";

.typesOfConsultation {
  .text18 {
    text-align: center;
  }

  .card {
    width: 100%;
    max-width: 1000px;
    min-height: 381px;
    position: relative;
    margin: auto;
    border-radius: 47.409px;
    box-shadow: 8.051px 24.152px 89.45px -11.629px rgba(22, 52, 80, 0.10);
    background-color: $light-gray;
    z-index: 10;
    color: whitesmoke;

    .priceTitle{
      position: absolute;
      bottom: 60px;
      right: 140px;
      margin-bottom: 0;
    }

    .content {
      z-index: 2;
      padding: 40px 30px;

      .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .price {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

        }

        .hint{
          width: 240px;
          height: 30px;
          background-color: $orange;
          color: #fff;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: lowercase;
          position: absolute;
          top: 30px;
          right: 55px;
        }
      }

      .body {
        display: grid;
        grid-gap: 120px;
        grid-template-columns: 1.5fr 1fr;
      }

      .description{
        position: relative;
        .quoteIcon{
          position: absolute;
          top: 55px;
          left: -201px;
          z-index: -1;
        }
      }



      ul {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding-left: 10px;

        li {
          display: grid;
          grid-template-columns: 0.1fr 11fr;
          grid-gap: 10px;

          &::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-top: 9px;
            -moz-border-radius: 7.5px;
            -webkit-border-radius: 7.5px;
            border-radius: 7.5px;
            background-color: $yellow;
          }
        }
      }

      .textBold48 {
        margin-bottom: 0;
      }
    }

  }

  .swiper{
    height: 500px;
  }
  .swiper-button-next, .swiper-button-prev {
    color: $gray !important;

    &:after {
      font-size: 20px !important;
    }
  }

  .swiper-pagination-bullet {
    background-color: $gray !important;
  }

  .swiper-pagination-bullet-active {
    background-color: $orange !important;
  }

  @media only screen and (max-width: 1040px){
    .swiper{
      height: 475px;
    }
    .card{
      max-width: 850px;
    }
  }

  @media only screen and (max-width: 1040px){
    .card{
      max-width: 760px;
      .content{
        .body{
          grid-gap: 30px;
        }
      }
    }
  }

  @media only screen and (max-width: 840px){
    .swiper{
      height: 550px;
    }
    .card{
      max-width: 555px;
      min-height: 440px;
      .priceTitle{
        bottom: 20px;
        right: 30px;
      }
      .content{
        padding: 40px 20px;
        .header{
          .hint{
            top: 38px;
            right: 23px;
          }
        }
        .body{
         grid-template-columns: 1fr;
          .description{
            order: 1;
            .quoteIcon{
              top: 8px;
              left: 381px;
              width: 150px;
              height: auto;
            }
          }
          .benefits{
            max-width: 470px;
            order: 2;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 650px){
    .swiper{
      height: 675px;
    }
    .card{
      max-width: 300px;
      min-height: 515px;
      .content{
        .header{
          margin-bottom: 30px;
          .hint{
            top: 68px;
            right: 40px;
          }
        }
        .body{
          grid-gap: 10px;
          .description{
            .quoteIcon{
              display: none;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 510px){
    .swiper{
      height: 600px;
    }
  }
}

