@import "mixinsAndVariables";

.whatWillYouGet{
  .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
  @media only screen and (max-width: 1000px){
    .content{
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (max-width: 670px){
    .content{
      grid-template-columns: 1fr;
      grid-gap: 15px;
      .textBold24{
        margin-bottom: 5px;
      }
    }
  }
}